@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {margin:0; padding:0; box-sizing:border-box; list-style:none; text-decoration:none; font-family:'Poppins', sans-serif}
/* font-family:'Poppins', sans-serif; */

section {background-color:#15212d;}
.inner {max-width:1440px; margin:0 auto;}

.container {position:relative; padding:100px 150px;}
.container h2 {margin-bottom:40px; color:#767f88; font-size:4em; font-weight:500; line-height:1.1em;}
.container p {color:#767f88; font-size:1.1em;}

.scroppTop {z-index:1000; position:fixed; bottom:800px; right:40px; width:60px; height:60px; background:#fff url(./img/up.png) no-repeat center; background-size:40px; border-radius:100%; cursor:pointer; transition:.5s; visibility:hidden; opacity:0;}
.scroppTop.active {bottom:40px; visibility:visible; opacity:1;}