@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {margin:0; padding:0; box-sizing:border-box; font-family:'Poppins', sans-serif;}
body {background-color:#111;}
.banner {position:fixed; top:0; left:0; width:100%; height:100vh; background-color:#e91e63; clip-path:circle(700px at center center);}
.banner video {position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.container {position:relative; margin-top:200vh; padding:100px; background-color:#111;}
.container h2 {margin-bottom:20px; color:#fff; font-size:2.5em; }
.container p {color:#fff; font-size:1em;}