* {margin:0; padding:0; box-sizing:border-box;}

section {position: relative; width:100%; height:100vh;}
section .box {display:flex; justify-content:center; align-items:center; position:absolute; top:0; left:0; width:100%; height:100%;}
section .box.box2 {background-color:#7f54ce; clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);}
section .box h2 {display:flex; flex-direction:column; color:#7f54ce; font-size:6vw; text-align:center; animation:animate 3s ease-in-out infinite;}
section .box.box2 h2 {color:#fff;}
section .box h2 span:nth-child(2) {line-height:1em; font-size:2em;}

@keyframes animate {
    0%, 45% {
        transform:translateY(-70%);
    }
    55%, 90% {
        transform:translateY(70%);
    }
    100% {
        transform:translateY(-70%);
    }
}
