
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {margin:0; padding:0; box-sizing:border-box; list-style:none; text-decoration:none; font-family:'Poppins', sans-serif;}

body {min-height:100vh; background-color:#060a1f;}
.inner {display:flex; justify-content:center; align-items:center; max-width:1440px; margin:0 auto; padding-top:100px;}

.clock {display:block; position:relative; margin:10px 0; color:#fff; font-size:.8em; font-weight:700; text-align:center; text-transform:uppercase; letter-spacing:.4em;}
.clock h2 {margin-bottom:10px;}
.clock .time {display:flex;}
.clock .time div {position:relative; margin:0 5px; -webkit-box-reflect:below 10px linear-gradient(transparent, #0004);}
.clock .time div span {display:flex; justify-content:center; align-items:center; z-index:10; position:relative; width:100px; height:80px; background-color:#2196f3; color:#fff; font-weight:300; font-size:3em; box-shadow:0 0 0 1px rgba(0,0,0, .2);}
.clock .time div span:nth-child(2) {z-index:9; height:30px; background-color:#127fd6; font-size:.7em; font-weight:500; letter-spacing:.2em; text-transform:uppercase; box-shadow:none;}
.clock .time div:last-child span {background-color:#ff006a;}
.clock .time div:last-child span:nth-child(2) {background-color:#ec0062;}

