@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {margin:0; padding:0; box-sizing:border-box; font-family: 'Poppins', sans-serif;}
body {min-height:1000px;}

header {display:flex; justify-content:flex-end; align-items:center; position:fixed; top:0; left:0; width:100%; height:100vh; padding:0 100px; background:#000; transition:1s;}
header.sticky {height:80px;}
header .banner {position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; transition:1s;} 
header.sticky .banner {opacity:.5;}
header .logo {z-index:1; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:#fff; font-size:15vw; font-weight:700; text-decoration:none; transition:1s;}
header.sticky .logo {position:absolute; left:100px; transform:translate(0, -50%); font-size:2em;}

nav {display:flex; z-index:1; position:relative;}
nav ul {display:flex; position:relative; transform:translateX(100px); opacity:0; transition:.25s;}
header.sticky nav ul {transform:translateX(0); transition-delay:.75s; opacity:1; visibility:visible;}
nav ul li {list-style:none;}
nav ul li a {display:inline-block; padding:10px 15px; color:#fff; font-size:1.2em; text-decoration:none;}
nav ul li a:hover {color:#ff275f;}

section {margin-top:50vh; padding:100px;}
section h2 {font-size:3em;}
section p {font-size:1.2em;}


@media (max-width:768px) {
    header,
    section {padding:40px}
    section h2 {font-size:2em;}
    header.sticky .logo {left:40px;}
    header.sticky .banner {opacity:0;}
    nav.act ul {display:flex; justify-content:center; align-items:center; flex-direction:column; position:fixed; top:80px; left:0; width:100%; height:calc(100% - 80px); background-color:#000;}    
    nav ul {display:none; opacity:0; visibility:hidden;}
    nav ul li a {padding:5px 15px; font-size:2em;}
    header.sticky .toggle {position:fixed; top:15px; right:40px; width:50px; height:50px; background:#fff url(./img/ico/menu.png) no-repeat center; background-size:30px; cursor:pointer; transition-delay:1s;}
    header.sticky .toggle.act {background:#fff url(./img/ico/close.png) no-repeat center; background-size:25px;}
}