@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {margin:0; padding:0; box-sizing:border-box; font-family: 'Poppins', sans-serif;}

body {background-color:#111;}
header {display:flex; justify-content:space-between; align-items:center; z-index:1000; position:absolute; top:0; left:0; width:100%; padding:40px 100px;}
header .logo {position:relative; color:#fff; font-size:2em; font-weight:700; letter-spacing:2px; text-transform:uppercase; text-decoration:none;}
header .toggle {max-width:60px; cursor:pointer;}
header .toggle img {max-width:100%;}

.banner {display:flex; justify-content:flex-start; align-items:center; position:relative; width:100%; min-height:100vh; padding:0 100px;}
.banner::before {content:''; position:absolute; top:0; right:0; width:400px; height:100%; background:rgba(0,0,0, .5);}
.banner video {position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; opacity:.1; pointer-events:none;}
.banner .textBox {z-index:2; position:relative; max-width:550px;}
.banner .textBox h2 {color:#fff; font-size:3em;}
.banner .textBox p {margin:5px 0 25px; color:#fff; font-size:1.1em;}
.banner .textBox a {display:inline-block; position:relative; padding:15px 25px; background-color:#fff; color:#111; font-size:1.1em; font-weight:500; letter-spacing:1px; text-decoration:none;}
.banner .videoBox {z-index:1; position:relative; width:100%; height:400px; margin-left:40px; background-color:#fff;}
.banner .videoBox video {opacity:1;}
.banner .sci {display:flex; justify-content:center; align-items:center; position:absolute; bottom:20px;}
.banner .sci li {list-style:none;}
.banner .sci li a {display:inline-block; margin-right:15px;}
.banner .sci li a img {transform:scale(.5); filter:invert(1);}


@media (max-width:768px) {
    header {padding:20px 50px;}
    .banner {padding:150px 50px 0; flex-direction:column;}
    .banner::before {display:none;}
    .banner .textBox {max-width:100%;}
    .banner .textBox h2 {font-size:2.5em;}
    .banner .videoBox {width:100%; height:300px; margin:40px 0 100px;}
    .banner .sci {left:50px;}
}

@media (max-width:360px) {
    .banner .videoBox {height:200px;}
}