@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {margin:0; padding:0; box-sizing:border-box; font-family:'Poppins', sans-serif;}

section {
  position:relative;
  height:100vh;
  overflow:hidden;

  & .bg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(../../img/bg.jpg);
    background-size:calc(100% + var(--x) / 2);
    background-position:center;
    background-repeat:no-repeat;

    & h2 {
      position:absolute;
      top:50%;
      width:100%;
      color:#fff;
      font-size:8em;
      text-shadow:0 5px 10px rgba(0,0,0, .2);
      transform:translate(calc(100% - var(--x) * 2), -50%);
    }

    & .girl {
      position:absolute;
      top:0;
      left:50%;
      width:400px;
      max-width:calc(400px - var(--x) / 50);
    }
  }
}