@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {margin:0; padding:0; box-sizing:border-box; list-style:none; text-decoration:none; font-family:'Poppins', sans-serif; scroll-behavior:smooth;}

.inner {max-width:1440px; margin:0 auto;}
.toggle {display:none}

header {z-index:1000; position:fixed; width:100%; height:80px; background-color:#000;}
header .inner {display:flex; justify-content:space-between; align-items:center; height:100%;}

header .logo {color:#fff; font-size:30px; font-weight:700; letter-spacing:2px;}
header ul {display:flex; position:relative;}
header ul li {position:relative;}
header ul li a {display:inline-block; position:relative; padding:5px 10px; color:#fff;}
header ul li a.active,
header ul li a:hover {background-color:#205aff;}

section .inner {display:flex; justify-content:space-between; align-items:center; position:relative; min-height:100vh; padding:150px 20px;}
.contents {max-width:1000px;}
.contents h2 {font-size:2.5em; text-transform:uppercase;}
.contents p {font-size:18px;}
.contents a {display:inline-block; margin-top:20px; padding:8px 10px; font-size:18px; background-color:#111; color:#fff;}
.imgBox {max-width:400px; margin-left:40px;}
.imgBox img {width:100%;}

section:nth-child(odd) {justify-content:center; align-items:center; position:relative; background-color:#111; color:#fff;}



@media (max-width:768px) {

    .inner {max-width:100.0000vw;}
    section .inner {flex-direction:column-reverse; justify-content:center; align-items:center; padding:150px 50px;}

    header {padding:0 50px;}
    header ul {flex-direction:column; position:absolute; top:-100%; left:0; width:100%; height:calc(100vh - 80px); padding:50px 100px; text-align:center; overflow:auto; background-color:#000; transition:.5s; transform:translateY(-100%); opacity:0;}
    header.active ul {top:80px; transform:translateY(0); opacity:1;}
    header ul li a {margin:5px 0; font-size:24px;}

    .toggle {display:block; position:relative; width:30px; height:30px; cursor:pointer;}
    .toggle::before {content:''; z-index:1; position:absolute; top:4px; width:100%; height:2px; background-color:#fff; box-shadow:0 10px 0 #fff; transition:.5s;}
    .toggle::after {content:''; z-index:1; position:absolute; bottom:4px; width:100%; height:2px; background-color:#fff; transition:.5s;}
    header.active .toggle::before {top:14px; transform:rotate(45deg); box-shadow:0 0 0 #fff;}
    header.active .toggle::after {top:14px; transform:rotate(-45deg); box-shadow:0 0 0 #fff;}

    .contents {max-width:100%;}
    .contents .btn-area {margin-top:50px; text-align:center;}
    .imgBox {max-width:100%; margin:0 0 40px 0;}

}

@media (max-width:360px) {
    section .inner {padding-left:20px; padding-right:20px;}

    header {padding:0 20px;}
    header h2 {font-size:1.5em;}
    .contents h2 {font-size:2em;}
}