* {margin:0; padding:0; box-sizing:border-box;}
 body {
   display:flex;
   justify-content:center;
   align-items:center;
   min-height:100vh;
   background-color:#001925;

   & .list {
     position:relative;
     padding:30px 75px 10px 30px;
     background-color:#042b3e;
    border-top:50px solid #03a9f4;

    & h2 {
      display:inline-block;
      padding:10px 0;
      margin-left:10px;
      border-bottom:4px solid #fff;
      color:#fff;
      font-size:30px;;
    }
    & label {
      display:block;
      position:relative;
      margin:40px 0;
      color:#fff;
      font-size:24px;
      cursor:pointer;

      & input[type="checkbox"] {
        -webkit-appearance:none;

        &:checked ~ i {
          top: 1px;
          border-top:none;
          border-right:none;
          width:25px;
          height:15px;
          transform:rotate(-45deg);
        }
        &:checked ~ span {
          color:#154e6b;
        }
        &:checked ~ span::before {
          transform:translateY(-50%) scaleX(1);
          transform-origin:left;
          transition:transform .5s;
        }
      }
      & i {
        display:inline-block;
        position:absolute;
        top:0;
        width:25px;
        height:25px;
        border:2px solid #fff;
      }
    } //label
    & span {
      position:relative;
      left:40px;
      transform:.5s;

      &::before {
        content:'';
        position:absolute;
        top:50%;
        left:0;
        transform:translateY(-50%) scaleX(0);
        transform-origin:right;
        transition:transform .5s;
        width:100%;
        height:1px;
        background-color:#fff;
      }
    }
   } //list
 }