@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {margin:0; padding:0; box-sizing:border-box; list-style:none; text-decoration:none; font-family:'Poppins', sans-serif}
/* font-family:'Poppins', sans-serif; */

.inner {display:flex; justify-content:center; align-items:center; max-width:1440px; min-height:100vh; margin:0 auto; background-color:#222f3e;}
button {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); padding:10px; background-color:#fff; border:none; outline:none; color:#333; font-size:18px; text-transform:uppercase; cursor:pointer;}