@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {margin:0; padding:0; box-sizing:border-box; list-style:none; text-decoration:none; font-family:'consolas';}
/* font-family:'Poppins', sans-serif; */

.inner {max-width:1440px; margin:0 auto;}

section {min-height:100vh; background-color:#000;}

.menu {z-index:1; position:fixed; top:0; left:0; width:60px; height:60px; background-color:#fff; cursor:pointer;}
.menu span {display:block; position:absolute; top:calc(50% - 1px); left:calc(50% - 15px); width:30px; height:2px; background-color:#262626; transition:.2s;}
.menu span:nth-child(1) {transform:translateY(-10px);}
.menu span:nth-child(3) {transform:translateY(10px);}
.menu.active span:nth-child(1) {transform:translateY(0) rotate(-45deg);}
.menu.active span:nth-child(2) {opacity:0;}
.menu.active span:nth-child(3) {transform:translateY(0) rotate(45deg);}
/* .menu.active span:nth-child(4) {opacity:0;} */

.menu-bar {position:absolute; top:0; right:0; transform:translateX(-100%); width:100%; height:60px; background-color:#fff; transition:.5s;} 
.menu-bar.active {transform:translateX(0);}

.menu-bar ul {display:flex; justify-content:flex-end; align-items:center; margin:0; padding:0;}
.menu-bar ul li a {display:block; padding:0 20px; border-right:1px solid rgba(0,0,0, .1); color:#262626; line-height:60px; font-weight:600; text-transform:uppercase;}
.menu-bar ul li:last-child a {border-right:none;}
.menu-bar ul li a:hover {background-color:#262626; color:#fff;}

@media (max-width:768px) {

    .menu-bar {height:auto;}
    .menu-bar ul {display:inherit; text-align:center; width:100%; height:100vh; box-sizing:border-box;}
    .menu-bar ul li a {padding:0; border-right:none; border-bottom:1px solid rgba(0,0,0, .1);}
}